form {
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 8px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
}

small {
  color: red;
}
.save-Product:disabled{
    cursor: not-allowed;
}
select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 12px;
  font-size: 14px;
}

select:focus {
  border-color: #3f51b5;
  outline: none;
}
.delete-btn {
  background-color: #e53935;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c62828;
}

