<div class="product-details" *ngIf = "product$ | async as product">

  <img
  [src]="'https://ecommerce-deployement.onrender.com/product/' + product.productId + '/image'"
  [alt]="product.name"
/>

  <div class="info">
    <h2>{{ product.name}}</h2>
    <p>{{ product.description }}</p>
    <p><b>Brand:</b> {{ product.brand }}</p>
    <p><b>Price:</b> ₹ {{ product.price }}</p>
    <p><b>Release Date:</b> {{ product.releaseDate | date }}</p>
    <p><b>Stock:</b> {{ product.quantity }}</p>

    <button
      class="add-cart"
      [disabled]="!product.isAvailable"
      (click)="add(product.productId)">
      Add to Cart
    </button>

    <button *ngIf = "isAdmin" class="update" (click)="updateProduct(product.productId)">
      Update Product
     </button>
       <!-- <button (click)="add(product.productId)">
      Add to Cart
    </button> -->
  </div>

</div>
