<app-navbar></app-navbar>
<button (click)="onProfile()">Profile</button>
<button type="button" *ngIf='isAdmin' (click)="onAdd()">Add Product</button>
<div class="product-container">
  <div class="product-card" *ngFor="let product of products | async" (click)="goToDetails(product.productId)">

    <img [src]="'https://ecommerce-deployement.onrender.com/product/' + product.productId + '/image'" [alt]="product.name" />

    <h3>{{ product.name }}</h3>
    <p>{{ product.brand }}</p>
    <p>₹ {{ product.price }}</p>
  </div>
</div>